---
import Archive from './icons/Archive.astro'
import ExternalIcon from './icons/External.astro'

interface Props {
  title: string
  company: string
  description: string
  link?: string
  date: string
}

const { title, company, description, link, date } = Astro.props
---

<div class='mb-10 ms-6 pb-2 mt-10'>
  <span
    class='absolute flex items-center justify-center size-6 rounded-full -start-3 ring-8 ring-[#f83600] bg-[#fe8c00] dark:ring-[#0052D4] dark:bg-[#4364F7]'
  >
    <Archive class='size-2.5 text-white' />
  </span>
  <h3 class='mb-0.5 text-xl font-bold text-[#f83600] dark:text-[#0052D4]'>
    {title}
  </h3>
  <h4
    class='mb-0.5 text-lg font-semibold text-zinc-700/80 dark:text-neutral-100/80'
  >
    {company}
  </h4>
  <time
    class='block mb-2 text-sm font-normal leading-none text-zinc-700/60 dark:text-neutral-100/60'
    >{date}</time
  >
  <p
    class='text-pretty mb-4 text-base font-normal text-zinc-700/80 dark:text-neutral-100/70'
  >
    {description}
  </p>

  {
    link && (
      <a
        href={link}
        target='_blank'
        rel='noopener noreferrer'
        role='link'
        class='shadow-lg dark:shadow-neutral-100/10 inline-flex gap-1 items-center px-4 py-2 text-sm font-medium rounded-lg border border-[#f83600] dark:border-[#0052D4] text-[#f83600] dark:text-[#0052D4] bg-transparent hover:text-neutral-100 dark:hover:text-neutral-100 hover:backdrop-blur-md hover:bg-[#f83600]/80 dark:hover:bg-[#0052D4]/80 transition-all duration-300 ease-in-out hover:-translate-y-1'
      >
        Saber más
        <ExternalIcon />
      </a>
    )
  }
</div>
