---
import HtmlIcon from "./icons/Html.astro";
import CssIcon from "./icons/Css.astro";
import Github from "./icons/Github.astro";
import JsIcon from "./icons/JavaScript.astro";
import LinkButton from "./LinkButton.astro";
import Link from "./icons/Link.astro";
import NodeJs from "./icons/NodeJs.astro";
import ReactIcon from "./icons/React.astro";
import AstroIcon from "./icons/AstroIcon.astro"    
import TailwindCss from "./icons/TailwindCss.astro";

const TAGS = {
    HTML: {
        name: "HTML",
        class: "",
        icon: HtmlIcon
    },
    CSS: {
        name: "CSS",
        class: "",
        icon: CssIcon
    },
    JS: {
        name: "JavaScript",
        class: "",
        icon: JsIcon
    },
    NodeJs: {
        name: "NodeJs",
        class: "",
        icon: NodeJs
    },
    React: {
        name: "React",
        class: "",
        icon: ReactIcon
    },
    Astro: {
        name: "Astro",
        class: "",
        icon: AstroIcon
    },
    TailwindCSS: {
        name: "Tailwind CSS",
        class: "",
        icon: TailwindCss
    }
}

const PROJECTS = [
  {
    title: "Tesla Landing Page - Imitación de la página de inicio de Tesla",
    description:
      "Copia de la página web de tesla con un diseño moderno y una interfaz de usuario amigable. Creada desde cero con Astro y Tailwind CSS con la intención de aprender a crear sitios web con dichas tecnologías.",
    link: "",
    github: "https://github.com/BrayanRamirezB/tesla-landing",
    image: "/Projects/tesla-landing.webp",
    alt: "Tesla Landing Page",
    tags: [TAGS.Astro, TAGS.TailwindCSS]
  },
  {
    title: "Expense Tracker - Gestión de gastos",
    description:
      "Aplicación web para gestionar los gastos. Permite visualizar una gráfica de gastos e ingresos. Creada desde cero con React y Tailwind CSS.",
    link: "",
    github: "https://github.com/BrayanRamirezB/react-expense-tracker",
    image: "/Projects/react-expense-tracker.webp",
    alt: "React Expense Tracker",
    tags: [TAGS.JS, TAGS.React, TAGS.TailwindCSS]
  },
  
  {
    title: "SpaceX Launch Page - Página de lanzamientos de SpaceX",
    description:
      "Página de lanzamientos de SpaceX. Muestra el estado actual de los lanzamientos y los detalles de cada uno. Creada con Astro y Tailwind CSS basandome en el curso de Astro de midudev.",
    link: "",
    github: "https://github.com/BrayanRamirezB/curso-Astro-part1",
    image: "/Projects/SpaceX-launches.webp",
    alt: "SpaceX Launch Page",
    tags: [TAGS.Astro, TAGS.TailwindCSS]
  },
  {
    title: "Paint - Clon de paint sin dependencias",
    description:
      "Clon de paint con un diseño minimalista y una interfaz básica. Creado desde cero solo con HTML, CSS y JavaScript.",
    link: "",
    github: "https://github.com/BrayanRamirezB/paint-test",
    image: "/Projects/paint.webp",
    alt: "Paint",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS]
  },
  {
    title: "Stack Game - Juego de pilas",
    description:
      "Juego de pilas con un diseño sencillo. Creado solo con HTML, CSS y JavaScript.",
    link: "",
    github: "https://github.com/BrayanRamirezB/stack-game-test",
    image: "/Projects/stack-game.webp",
    alt: "Stack Game",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS]
  },
  {
    title: "Tetris - Juego de tetris",
    description:
      "Juego de tetris con un diseño sencillo. Creado con HTML, CSS y JavaScript.",
    link: "",
    github: "https://github.com/BrayanRamirezB/tetris-prueba-tecnica",
    image: "/Projects/tetris-game.webp",
    alt: "Tetris",
    tags: [TAGS.HTML, TAGS.CSS, TAGS.JS]
  }
]
---

<div class="flex flex-col gap-y-18 pt-8">
    {PROJECTS.map(({ title, description, link, image, alt, tags, github }) => (
        <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 mb-10">
            <div class="w-full md:w-1/2">
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <img alt={alt} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
                </div>
            </div>
            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-2xl font-bold text-[#f83600] dark:text-[#fe8c00]">{title}</h3>
                <div class="flex flex-col flex-wrap mt-2">
                    <div class="mb-2 text-gray-700 dark:text-gray-400 text-pretty">{description}</div>
                    <ul class="flex flex-row justify-center items-center mt-2 gap-x-2">
                        {tags.map((tag) => (
                            <li>
                                <span class={`shadow-md flex rounded-lg ${tag.class} py-2 px-2 hover:bg-gray-200 dark:hover:bg-gray-800`}>
                                    <tag.icon class="size-6" />
                                </span>
                            </li>
                        ))}
                    </ul>
                    <div class="flex items-center justify-center mt-2 gap-x-4">
                        {github && (
                            <LinkButton href={github}>
                                <Github class="size-4 fill-black dark:fill-white/90" />
                                Code
                            </LinkButton>
                        )}
                        {link && (
                            <LinkButton href={link}>
                                <Link class="size-4" />
                                Preview
                            </LinkButton>
                        )}
                    </div>
                </div>
            </div>
        </article>    
    ))}
</div>