---
import HtmlIcon from './icons/Html.astro'
import CssIcon from './icons/Css.astro'
import Github from './icons/Github.astro'
import JsIcon from './icons/JavaScript.astro'
import LinkButton from './LinkButton.astro'
import Link from './icons/Link.astro'
import NodeJs from './icons/NodeJs.astro'
import ReactIcon from './icons/React.astro'
import AstroIcon from './icons/AstroIcon.astro'
import TailwindCss from './icons/TailwindCss.astro'
import TypeScript from './icons/TypeScript.astro'

const TAGS = {
  HTML: {
    name: 'HTML',
    class: '',
    icon: HtmlIcon
  },
  CSS: {
    name: 'CSS',
    class: '',
    icon: CssIcon
  },
  JS: {
    name: 'JavaScript',
    class: '',
    icon: JsIcon
  },
  NodeJs: {
    name: 'NodeJs',
    class: '',
    icon: NodeJs
  },
  React: {
    name: 'React',
    class: '',
    icon: ReactIcon
  },
  Astro: {
    name: 'Astro',
    class: '',
    icon: AstroIcon
  },
  TailwindCSS: {
    name: 'Tailwind CSS',
    class: '',
    icon: TailwindCss
  },
  TypeScript: {
    name: 'TypeScript',
    class: '',
    icon: TypeScript
  }
}

const PROJECTS = [
  {
    title: 'MictlanUI',
    description:
      'Design System moderno y minimalista con multiples componentes altamente personalizables y reutilizables inspirados en Glassmorphism. Diseñado con TailwindCSS, Astro, TypeScript y React para crear sitios web detallados. Cuenta con una guía de estilo detallada y documentación de componentes. Además, todos los componentes incluyen multiples variantes, temas, colores y ejemplos de uso.',
    link: 'https://mictlanuidev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/mictlanui',
    image: '/Projects/mictlanui.webp',
    alt: 'MictlanUI',
    tags: [TAGS.Astro, TAGS.TailwindCSS, TAGS.React, TAGS.TypeScript]
  },
  {
    title: 'Mictlan Collection',
    description:
      'Colección de componentes de React diseñados de manera atractiva y con funcionalidades interactivas, construidos con Tailwind CSS. Esta colleción está diseñada para ayudarte a crear interfaces de usuario dinámicas y atractivas con un esfuerzo mínimo.',
    link: 'https://mictlancollection-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/mictlancollection-dev',
    image: '/Projects/mictlancollection-dev.webp',
    alt: 'Mictlan Collection',
    tags: [TAGS.React, TAGS.Astro, TAGS.TailwindCSS]
  },
  {
    title: 'Mictlan Bento',
    description:
      'Colección de Bento Grids listos para usar. Este proyecto permite a los usuarios copiar y pegar fácilmente el código de los Bento Grids para integrarlos en cualquier sitio web. Además, el diseño es responsive y altamente personalizable, lo que lo convierte en una herramienta ideal para desarrolladores que buscan ahorrar tiempo y mejorar la estética de sus proyectos.',
    link: 'https://mictlanbento-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/mictlanbento-dev',
    image: '/Projects/mictlanbento-dev.webp',
    alt: 'MictlanBento',
    tags: [TAGS.Astro, TAGS.TailwindCSS]
  },
  {
    title: 'F1 Concept Landing Page',
    description:
      'Este proyecto es una alternativa al sitio web oficial de la F1 para mostrar información sobre los resultados de la temporada de 2025. Diseñada completamente desde cero con tecnologías modernas con el objetivo de ofrecer una experiencia de usuario más simple, rápida y responsiva. ',
    link: 'https://f1-concept-landing-page.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/f1-concept-landing-page',
    image: '/Projects/f1-concept-landing-page.webp',
    alt: 'f1 Concept Landing Page',
    tags: [TAGS.Astro, TAGS.TailwindCSS, TAGS.TypeScript]
  },
  {
    title: 'DragonBall Wiki',
    description:
      'Este proyecto es una enciclopedia en línea que recopila información detallada de personajes icónicos de las sagas de Dragon Ball Z, Dragon Ball GT, Dragon Ball Super y más. Este sitio web fue desarrollado utilizando una API de DragonBall para obtener la información de los personajes. El objetivo de este proyecto es ofrecer una experiencia rápida y responsiva para los fans de Dragon Ball.',
    link: 'https://dragonball-wiki-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/dragonball-wiki',
    image: '/Projects/dragonball-wiki.webp',
    alt: 'DragonBall Wiki',
    tags: [TAGS.TypeScript, TAGS.Astro, TAGS.TailwindCSS]
  },
  {
    title: 'BG Removal',
    description:
      'Aplicación web que permite eliminar el fondo de imágenes de manera automática utilizando inteligencia artificial. Diseñada para ser rápida, precisa y fácil de usar.',
    link: 'https://background-removal-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/bg-removal-dev',
    image: '/Projects/bg-removal.webp',
    alt: 'BG Removal',
    tags: [TAGS.React, TAGS.TailwindCSS]
  },
  {
    title: 'Simple Quiz',
    description:
      'Aplicación web interactiva que permite a los usuarios responder preguntas de opción múltiple en un entorno dinámico y atractivo. Diseñada con React y Tailwind CSS para una experiencia de usuario fluida y responsiva.',
    link: 'https://simple-quiz-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/simple-quiz-app',
    image: '/Projects/simple-quiz.webp',
    alt: 'Simple Quiz',
    tags: [TAGS.React, TAGS.TailwindCSS]
  },
  {
    title: 'Stack Game',
    description:
      'Implementación del popular Stack Game, un juego de precisión donde el objetivo es apilar bloques uno encima del otro. Desarrollado utilizando tecnologías web como Astro, TypeScript y Tailwind CSS, el juego desafía al jugador a mantener el control de la torre mientras los bloques se apilan.',
    link: 'https://stack-game-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/stack-game-test',
    image: '/Projects/stack-game.webp',
    alt: 'Stack Game',
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.Astro,
      TAGS.TypeScript,
      TAGS.TailwindCSS
    ]
  },
  {
    title: 'Tetris',
    description:
      'Recreación del clásico juego Tetris desarrollado con astro, React y Tailwind CSS, que ofrece una experiencia de juego fiel a la versión original. Cuenta con una interfaz visual sencilla y retro, controles intuitivos para mover, rotar y acelerar las piezas, detección de colisiones, eliminación de líneas completas, puntuación y niveles. ',
    link: 'https://simple-tetris-dev.netlify.app/',
    github: 'https://github.com/BrayanRamirezB/simple-tetris',
    image: '/Projects/tetris-game.webp',
    alt: 'Tetris',
    tags: [
      TAGS.HTML,
      TAGS.CSS,
      TAGS.JS,
      TAGS.Astro,
      TAGS.React,
      TAGS.TailwindCSS
    ]
  }
]
---

<div class='flex flex-col gap-y-18 pt-8'>
  {
    PROJECTS.map(({ title, description, link, image, alt, tags, github }) => (
      <article class='flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 mb-10'>
        <div class='w-full md:w-1/2'>
          <div class='relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50'>
            <img
              alt={alt}
              class='object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105'
              src={image}
            />
          </div>
        </div>
        <div class='w-full md:w-1/2 md:max-w-lg'>
          <h3 class='text-2xl font-bold text-[#f83600] dark:text-[#0052D4]'>
            {title}
          </h3>
          <div class='flex flex-col flex-wrap mt-2'>
            <div class='mb-2 text-zinc-700/80 dark:text-neutral-100/70 text-pretty'>
              {description}
            </div>
            <ul class='flex flex-row justify-center items-center mt-2 gap-x-2'>
              {tags.map((tag) => (
                <li>
                  <span
                    class={`shadow-md flex rounded-full ${tag.class} py-2 px-2 border-0 backdrop-blur-md bg-neutral-100/80 dark:bg-zinc-700/40 hover:bg-zinc-700/40 dark:hover:bg-neutral-100/40 transition-all duration-300 ease-in-out hover:animate-[spin_5s_linear_infinite]`}
                  >
                    <tag.icon class='size-6' />
                  </span>
                </li>
              ))}
            </ul>
            <div class='flex items-center justify-center mt-2 gap-x-4'>
              {github && (
                <LinkButton href={github}>
                  <Github class='size-4 fill-zinc-700 dark:fill-neutral-100' />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class='size-4' />
                  Preview
                </LinkButton>
              )}
            </div>
          </div>
        </div>
      </article>
    ))
  }
</div>
